.pds-block-title {
  color: $paris-primary-invert;


  h2 {
    font-size: 4rem;
    margin: 15rem 0 8rem 4rem;
  }

  h3 {
    font-size: 3rem;
    margin: 5rem 0 2rem 2rem;
  }

  small {
    display: block;
    font-weight: 200;
  }
}
