<header class="pds-header" data-controller="header">
  <button type="button" class="pds-header-button-menu" data-action="header#toggleMenu">
    <span class="is-only-readable">Menu</span>
    <span class="pds-header-button-menu-line"></span>
  </button>
  <div class="pds-header-brand">
    <a href="https://paris.fr" class="pds-header-brand-paris">
      {% svg assets/svgs/paris-logo.svg %}
    </a>
    {%- capture home_href -%}
      {%- if site.baseurl != "" -%}{{ site.baseurl }}{%- else -%}/{%- endif -%}
    {%- endcapture -%}
    <a href="{{ home_href }}" class="pds-header-brand-site">
      {{ site.metadata.title }}
    </a>
  </div>
</header>
