<header class="pds-header" data-controller="header">
  <button type="button" class="pds-header-button-menu" data-action="header#toggleMenu">
    <span class="is-only-readable">Menu</span>
    <span class="pds-header-button-menu-line"></span>
  </button>
  <div class="pds-header-brand">
    <a href="{{ site.metadata.paris-url }}" class="pds-header-brand-paris">
      {% svg assets/svgs/paris-logo.svg %}
    </a>
    <a href="{{ "/" | relative_url }}" class="pds-header-brand-site">
      {{ site.metadata.title }}
    </a>
  </div>
</header>
