.pds-header {
  background: $paris-primary;
  color: $paris-primary-invert;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  &-brand {
    align-items: center;
    display: flex;
    flex-grow: 1;

    &-paris {
      display: flex;
      margin-right: 1rem;
      max-height: 100%;
      padding-right: 1rem;
      position: relative;

      &::after {
        $divider-height: 60%;

        background: $paris-primary-invert;
        content: "";
        display: block;
        height: $divider-height;
        opacity: .7;
        position: absolute;
        right: 0;
        top: (100% - $divider-height) / 2;
        width: .1rem;
      }

      svg {
        fill: $paris-primary-invert;
        width: 11.13rem;
      }
    }

    &-site {
      color: inherit;
      opacity: .7;
      text-decoration: none;
    }
  }

  @media ($pds-mobile) {
    height: $pds-header-height-mobile;

    &-brand {
      justify-content: center;
      margin-right: $pds-header-height-mobile;
    }

    &-button-menu {
      align-items: center;
      background: transparent;
      border: none;
      display: flex;
      flex-shrink: 0;
      height: $pds-header-height-mobile;
      justify-content: center;
      width: $pds-header-height-mobile;

      &-line,
      &-line::before,
      &-line::after {
        background: $paris-primary-invert;
        display: block;
        height: 0.3rem;
        position: relative;
        transition: all 0.3s ease;
        width: 2.2rem;
      }

      &-line::before,
      &-line::after {
        content: "";
        position: absolute;
      }

      &-line::before { top: -0.7rem; }
      &-line::after { bottom: -0.7rem; }
    }

    &.has-mobile-sidebar-open {
      .pds-header-button-menu-line {
        background: transparent;

        &::before {
          top: 0;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 0;
          transform: rotate(-45deg);
        }
      }
    }
  }

  @media ($pds-desktop) {
    height: $pds-header-height-desktop;
    padding: 0 $pds-sidebar-padding;
    width: $pds-sidebar-width;

    &-brand {
      justify-content: flex-start;
    }

    &-button-menu {
      display: none;
    }
  }
}
