html {
  box-sizing: border-box; // natural box layout model to all elements
  font-size: 62.5%; // for easy rem sizing: 1rem = 10px
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: rgba($paris-blue, 0.3);
}

body {
  background-color: $paris-blue;
  background-image: url(/assets/svgs/nef.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  color: $paris-primary;
  font-family: $paris-font;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: normal;

  &.has-disabled-scroll {
    overflow: hidden;
  }

  @media ($pds-mobile) {
    background-position: top -4rem right -2rem;
  }

  @media ($pds-desktop) {
    background-position: top -27rem right -6rem;
  }
}

main {

  @media ($pds-mobile) {
    margin-top: $pds-header-height-mobile;
  }

  @media ($pds-desktop) {
    margin-left: $pds-sidebar-width;
  }
}
