///////////
// PARIS //
///////////

// fonts
$paris-font: "Montserrat", sans-serif;

// colors
$paris-primary: #071F32;
$paris-turquoise: #25DCCC;
$paris-yellow: #FFCD00;
$paris-red: #FB394A;
$paris-bright-turquoise: #31EEF3;
$paris-blue: #354BCF;
$paris-orange: #FF3300;
$paris-green: #3ECD2E;
$paris-gray: #F0F0F0;

$paris-primary-invert: #FFFFFF;

/////////////////////////
// PARIS DESIGN SYSTEM //
/////////////////////////

// mediaqueries
$pds-mobile: unquote("max-width: 768px");
$pds-tablet: unquote("min-width: 769px) and (max-width: 1023px");
$pds-desktop: unquote("min-width: 769px");

// components
$pds-header-height: 5.6rem;
$pds-sidebar-width: 32rem;
