.pds-footer {
  background: $paris-primary;
  bottom: 0;
  color: $paris-primary-invert;
  display: flex;
  flex-shrink: 0;
  font-weight: 300;
  position: relative;
  width: 100%;
  z-index: 997;


  &-brand {
    padding: $pds-sidebar-padding 4rem;

    a { display: block; }

    svg {
      fill: $paris-primary-invert;
      height: 4.2rem;
    }
  }

  &-nav {
    display: flex;
    flex-direction: column;

    &-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;

      &-link {
        color: $paris-primary-invert;
        display: block;
        padding: 1rem 0;
        text-decoration: none;
      }
    }

    &-licence {

      a {
        color: $paris-primary-invert;
      }
    }
  }

  @media ($pds-mobile) {
    flex-direction: column;
    text-align: center;

    &-brand {}

    &-nav {
      padding: 0 $pds-sidebar-padding $pds-sidebar-padding $pds-sidebar-padding;

      &-list {
        justify-content: center;

        li {
          margin: 0 2rem;
        }
      }
    }
  }

  @media ($pds-desktop) {
    z-index: 999;

    &-brand {
      flex-shrink: 0;
      width: $pds-sidebar-width;
    }

    &-nav {
      padding: $pds-sidebar-padding;

      &-list {
        li:not(:last-child) {
          margin-right: 4rem;
        }
      }

      &-licence {
        margin: 1rem 0 0.5rem;
      }
    }
  }
}
