<footer class="pds-footer">
  <div class="pds-footer-brand">
    <a href="https://paris.fr">
      {% svg assets/svgs/paris-logo.svg %}
    </a>
  </div>
  <div class="pds-footer-nav">
    <ul class="pds-footer-nav-list">
      <li><a href="" class="pds-footer-nav-list-link">À propos</a></li>
      <li><a href="" class="pds-footer-nav-list-link">Github</a></li>
      <li><a href="" class="pds-footer-nav-list-link">CGU</a></li>
      <li><a href="" class="pds-footer-nav-list-link">Besoin d'aide ?</a></li>
      <li><a href="https://paris.fr" class="pds-footer-nav-list-link">Paris.fr</a></li>
    </ul>
    <p class="pds-footer-nav-licence">
      Sauf mention contraire, le contenu de ce site est soumis à la licence <a href="">TBD</a>.
    </p>
  </div>
</footer>
